 
 @media (max-width:950px) {
    .section-img  {
        display: none;
    }
    .section-text {
        width: 100%;
    }
 }
 @media (max-width:850px) {
    .section1{
        display: block;
    }
    .section-text1{
        width: 100%;
    }
    .section-img1{
        width: 60%;
    }
 }


 @media (min-width:375px) {
    section{
        padding: 20px;
    }
    .section{
        width: 100%;
    }
    
 }